<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <h1>Pasta Orderer</h1>
    </div>
    <h2>Menu</h2>
    <div class="items-list">
        {% for i in menu %}
        <div class="each-item">
            <div class="item-name">
                <h3>{{i.name}}</h3>
            </div>
            <div class="item-info">
                <p>{{i.description}}</p>
                <p>£{{"%.2f"|format(i.price)}}</p>
                <form action="{{ url_for('add_to_basket', item_id=i.id) }}" method="post">
                    <button type="submit">Buy</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    <h2>Basket</h2>
    <p class="total">Total: {{total}}</p>
    <div class="items-list">
        {% for i in basket %}
        <div class="each-item">
            <div class="item-name">
                <h3>{{i.name}}</h3>
            </div>
            <div class="item-info">
                <p>{{i.description}}</p>
                <p>{{i.price}}</p>
                <form action="{{ url_for('remove_from_basket', item_id=i.id) }}" method="post">
                    <button type="submit">Remove</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>