<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pasta Orderer</h1>
    <h2>Menu</h2>
    <div class="menu">
        {% for i in menu %}
        <div class="menu-item">
            <h3>{{i.name}}</h3>
            <p>{{i.description}}</p>
            <p>{{i.price}}</p>
            
            <form action="{{ url_for('add_to_basket', item_id=item.id) }}" method="post">
                <button type="submit">Add to Basket</button>
            </form>

        </div>
        {% endfor %}
    </div>
    <div class="basket">
        {% for i in basket %}
        <div class="basket-item">
            <h3>{{i.name}}</h3>
            <p>{{i.description}}</p>
            <p>{{i.price}}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>